<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092798666138-729c2f140fe64gug4n5skq3deelopfvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092798666138-729c2f140fe64gug4n5skq3deelopfvp</string>
	<key>API_KEY</key>
	<string>AIzaSyC2aLu75Zn5FG6UYP3Paot7q49ffjnpfJA</string>
	<key>GCM_SENDER_ID</key>
	<string>1092798666138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshinobu.HobbyRecord</string>
	<key>PROJECT_ID</key>
	<string>hobbyrecord-d6353</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbyrecord-d6353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092798666138:ios:57a1f038a0c05a08fbd623</string>
	<key>DATABASE_URL</key>
	<string>https://hobbyrecord-d6353.firebaseio.com</string>
</dict>
</plist>